.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px;
    justify-items: center;
}

.business-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.dashboard {
    justify-content: center;
    align-items: center;
}

.insights {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.business-name,
.insights,
.products-listed,
.business-description,
.business-contact
{
    padding: 20px;
    border: 1px solid #000000;
    color: white;
    box-shadow: 0px 10px 10px #000000;
    text-decoration: none;
}

.business-name a:link,
.products-listed a:link {
    list-style-type: none;
    text-decoration: none;
    color: white !important;
}