@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  font-family: "Roboto";
}

/* .App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #85a8c5;
} */

.carousel-img {
    display: flex;
    height: 500px !important;
    justify-content:center;
    margin: 0 auto;
}