.header {
    padding: 1rem 0;
  }
  
.main-content {
margin-top: 2rem;
}

.row.product {
  box-shadow: 0 0 50px rgb(0, 0, 0);
}
.box {
text-decoration: none;
color: white;
}

.product {
border-radius: 5px;
padding: 1rem 0;
margin: 1rem 0;
}

.product-detail {
padding: 0 2rem;
color: white;
}

.product-image {
    padding: 0 2rem;
}

.product-price {
font-weight: bold;
font-size: 140%;
color: white;
}