.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

.product-info, .product-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 100px;
    justify-items: left;
    color: white;
    box-shadow: 0px 10px 10px #000000;
}